<!--The content below is only a placeholder and can be replaced.-->
<div>
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <!--  <span>HOME</span> -->
       <span><a href="/">HOME</a></span>
       <span class="spacer"></span>
       <a mat-button routerLink="/register">Register</a>
       <a mat-button routerLink="/login">Login</a>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="example-container" >
    <mat-sidenav class="sideNav" mode="side" opened>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <!-- This is the tree node template for leaf nodes -->
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
              <!-- use a disabled button to provide padding for tree leaf -->
              <button mat-icon-button disabled></button>
              {{node.name}}
            </mat-tree-node>
            <!-- This is the tree node template for expandable nodes -->
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
              <button mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              {{node.name}}
            </mat-tree-node>
          </mat-tree>
    </mat-sidenav>
    <mat-sidenav-content>
     
      
      <app-custom-table-component [tableMainData]="tableMainData"> </app-custom-table-component>
 
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>